*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    /*background: black;*/
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.top_menu {
    width: 100%;
    height: 5em;
    background: #ecebeb;
    box-sizing: border-box;
    display: flex;
    padding: 8px;
    justify-content: end;
}

.hr {
    margin: 0 auto;
    margin-top: 1em;
    width: 95%;
    background: #c9c9c9;
    height: 0.2em;
    border-radius: 15%;
}

.top_menu_item {
    /* border: 2px solid; */
    box-sizing: border-box;
    width: 40%;
    height: 3.5em;
    padding: 16px;
    text-align: end;
}

.top_menu_item span {
    margin-right: 1em;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: lighter;
}

.top_menu_item span a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.747);
    font-weight: bold;
}

.top_menu_item span a:hover {
    color: black;
    transition: 0.2s;
}

.main-wrapper {
    /* border: 1px solid; */
    width: 95%;
    margin: 0 auto;
    margin-top: 2em;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.left-option-wrapper {
    /* border: 1px solid;  */
    width: 25%;
    height: 24em;
    box-sizing: border-box;
    display: block;
    padding: 4px;
}

.label-wrapper-pw {
    margin: 0 auto;
    margin-top: 12px;
    border: 1px solid;
    height: 3em;
    width: 100%;
    background: #ecebeb;
    border: #c9c9c9;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 12px;
    margin-bottom: 2em;
}

.label-wrapper-pw span {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: bolder;
}

.input-wrapper-pw {
    margin-top: 1em;
    height: 2.5em;
    width: 100%;
}

.input-wrapper-pw input[type="text"], input[type="submit"], select {
    width: 100%;
    height: 95%;
    border-radius: 0;
    outline: none;
    border: 1px solid #b8b8b8;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.input-wrapper-pw input[type="text"]:focus, 
.price-wrapper-pw input[type="number"]:focus {
    border: 2px solid black;
}

.price-wrapper-pw {
   margin-top: 1em;
   width: 100%;
   height: 3.4em;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
}

.price-wrapper-pw input[type="number"] {
    width: 48%;
    height: 85%;
    outline: none;
    border-radius: 0;
    border: 1px solid #ecebeb;
    background: #ecebeb;
    -moz-appearance: textfield;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    font-weight: bold;
    color: black;
}

.price-wrapper-pw input[type="number"]::placeholder {
    opacity: 1;
}

.input-wrapper-submit-pw input[type="submit"] {
    color: white;
    font-size: large;
    font-weight: bold;
    background: #262626;
    border: #262626;
    padding: 4px;
}

.input-wrapper-submit-pw input[type="submit"]:hover {
    cursor: pointer;
    background: #131313;
    transition: 0.3s;
}

.product-main-wrapper {
    /* border: 1px solid; */
    width: 72%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.product-wrapper {
    /* border: 1px solid; */
    border-radius: 4px;
    width: 31%;
    height: 24em;
    display: block;
    box-sizing: border-box;
    background-color: #f2f2f2ab;
    margin-bottom: 0.3em;
}

.image-wrapper {
    margin: 0 auto;
    margin-top: 0.5em;
    padding: 2px;
    border: 1px solid white;
    background-color: white;
    border-radius: 8px;
    box-sizing: border-box;
    width: 95%;
    height: 55%;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    align-self: center;
    border-radius: 2px;
}

.image-error {
    width: 70% !important;
    height: 70% !important;
    padding-top: 15%;
    padding-left: 30%;
}

.label-text-produto {
    /* border: 1px solid;  */
    margin: 0 auto;
    margin-top: 0.5em;
    box-sizing: border-box;
    width: 95%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.label-text-produto span {
    margin-left: 0.4em;
}


.lnk-view {
    margin-top: 2em;
    height: 1.6em;
}

.lnk-style {
    height: 100%;
    width: 35%;
    background: #262626;
    text-align: center;
}

.lnk-style:hover {
    background:#131313;
}


.lnk-style a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}

.lnk-style a:hover {
    cursor: pointer;
}

.main-login-wrapper {
    border: 1px solid #b8b8b8;
    margin: 0 auto;
    margin-top: 4em;
    width: 67em;
    height: 32em;
    box-sizing: border-box;
    display: flex;
    box-shadow: 3px 3px 14px -3px rgba(0,0,0,0.94); 
}

.main-login {
    /* border: 1px solid; */
    display: block;
    width: 50%;
    height: 100%;
}

.login-label {
    /* border: 1px solid;  */
    margin-top: 5em;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    font-family: 'Poppins', sans-serif;
}

.input-login-wrapper {
    /* border: 1px solid; */
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 1em;
    height: 5em;
    width: 70%;
}

.input-login {
    /* border: 1px solid;  */ 
    box-sizing: border-box;
    margin: 0 auto;
    width: 90%;
    height: 90%;
}

.input-login input[type="email"], 
.input-login input[type="password"], 
.input-login input[type="text"], 
.input-login input[type="number"], 
.input-login input[type="file"],
.input-login input[type="date"] {
    width: 100%;
    height: 60%;
    outline: none;
    border-radius: 0;
    border: 1px solid #b8b8b8;
    padding: 8px;
    font-size: large;
}

.input-login input[type="email"]:focus, 
input[type="password"]:focus, 
input[type="text"]:focus, 
input[type="number"]:focus, 
input[type="date"]:focus {
    border: 2px solid black;
}

.input-login span {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: block;
}

.input-password {
    margin-top: 1em;
}

.input-submit-login {
    margin-top: 0.3em;
    height: 3.5em;
}

.input-submit-login input[type="submit"] {
    font-size: large;
    font-weight: bold;
    background: #262626;
    color: white;
}

.input-submit-login input[type="submit"]:hover {
    background: #131313;
    cursor: pointer;
    transition: 0.3s;
}

.wrapper-register-option {
    /* border: 1px solid; */
    margin: 0 auto;
    margin-top: 1em;
    text-align: center;
    box-sizing: border-box;
    width: 60%;
    height: 4em;
    font-family: 'Poppins', sans-serif;
}

.wrapper-register-option span {
    display: block;
    margin-bottom: 0.2em;
}

.wrapper-register-option span a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.wrapper-register-option span a:hover {
    text-decoration: underline;
}

.image-login {
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 50%;
    height: 100%;
}

.image-login img {
    height: 100%;
    width: 100%;
}

.main-wrapper-register {
    border: 1px solid #b8b8b8;
    box-shadow: 3px 3px 14px -3px rgba(0,0,0,0.94); 
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 2em;
    width: 75%;
    height: 90%;
    display: flex;
}

.register-input input[type="text"], input[type="date"]{
    font-size: small;
}

.form-1, .form-2 {
    /* border: 1px solid; */
    margin-top: 0.8em;
    box-sizing: border-box;
    width: 50%;
    height: 95%;
}

.form-1 .label-header,
.form-2 .label-header{
    /* border: 1px solid;  */
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    padding: 4px;
    box-sizing: border-box;
    height: 2.5em;
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

.form-1 {
    border-right: 1px solid #262626;
}

.input-login label {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-right: 2em;
}

.input-file {
    margin-bottom: 2.5em;
}

.error-pwd {
    font-size: smaller;
}

.main-product-wrapper {
    border: 1px solid #ecebeb;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 2.5em;
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 3px 14px -3px rgba(0,0,0,0.94); 
}

.img-product-view {
    /* border: 1px solid; */
    border-right: 1px solid #262626;
    box-sizing: border-box;
    margin-top: 1em;
    width: 40%;
    height: 95%;
    display: block;
}

.img-product-info {
    /* border: 1px solid; */
    box-sizing: border-box;
    margin-top: 1em;
    width: 55%;
    height: 95%;
    display: block;
}

.img-product-info .label-header,
.product-description .label-header{
    /* border: 1px solid; */
    margin-top: 1em;
    box-sizing: border-box;
    width: 100%;
    height: 4em;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    padding: 8px;
}

.product-description .label-header {
    height: 2.5em;
}

.product-description {
    /* border: 1px solid; */
    box-sizing: border-box;
    width: 100%;
    height: 80%;
}

.text-info {
    margin: 0 auto;
    margin-top: 0.2em;
    background: #ecebeb;
    box-sizing: border-box;
    width: 97%;
    height: 20%;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.text-info p {
    margin-left: 0.2em;
}

.artist-label,
.genre-label,
.release-label,
.quantity-label,
.button-label {
    /* border: 1px solid; */
    margin: 0 auto;
    margin-top: 1em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    height: 2em;
    width: 97%;
}

.button-label {
    height: 4em;
    display: flex;
    justify-content: left;
}

 .button-label input[type="number"] {
    width: 90%;
} 

.button-label .price-wrapper-pw {
    /* border: 1px solid; */
    width: 20%;
    height: 90%;
    margin-top: 0.3em;
    text-align: end;
}

.button-label .input-wrapper-pw {
    /* border: 1px solid red;  */
    box-sizing: border-box;
    width: 30%;
    margin-top: 0.3em;
    text-align: center;
    padding-top: 0.3em;
}

/* .button-label .input-wrapper-pw .input-wrapper-submit-pw .view {
    padding-top: 0 !important;
} */

.button-label .input-wrapper-pw a {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: white;
    padding: 6px;
    display: block;
    height: 100%;
    width: 100%;
}
.button-label .input-wrapper-pw a:hover {
    cursor: pointer;
}

.button-label .input-wrapper-submit-pw {
    /* border: 1px solid blue;   */
    height: 75%;
    background-color: #262626;
}

.button-label .input-wrapper-submit-pw:hover {
    background-color: #131313;
    transition: 0.3s;
}

.img-product-wrapper {
    border: 1px solid #ecebeb; 
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 6em;
    width: 80%;
    height: 60%;
}

.img-product-wrapper img {
    width: 100%;
    height: 100%;
}

.request-wrapper {
    box-shadow: none;
    border: 0;
}

.main-request .label-header {
    margin-top: 2em;
}

.main-request .form-1 {
    border: 1px solid #dfdede;
    box-shadow: 3px 3px 14px -3px rgba(0,0,0,0.94); 
    margin: 0 auto;
    margin-top: 1em;
    width: 60%;
}

.main-request .img-product-info {
    /* border: 1px solid; */
    margin: 0 auto;
    height: 80%;
    width: 80%;
}

.main-request .img-product-info .header {
    font-size: larger;
}

.main-request .img-product-info .span-info {
    font-size: large;
    font-weight: bolder;
}

.main-request .img-product-info .final,
.main-request .img-product-info .quantity-label {
    /* border: 1px solid; */
    height: 2em;
    margin-bottom: 2.5em;
}

.main-request .img-product-info input[type="radio"] {
    margin-left: 1em;
}

.main-request .img-product-info .radio-label {
    margin-right: 0.5em;
}

.main-request .button-label .input-wrapper-pw {
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5em;
}

.preco-input {
    display: none;
}